doctype html
html(lang='en')
  head
    link(rel="stylesheet", type="text/css", href="style.css")
  body
    ul
      li
        a(href='/businessinsider') bi
      li
        a(href='/techreview') mit
      li
        a(href='/newscientist') newsci
      li
        a(href='/sciencealert') scialert
      li
        a(href='/iflscience') ifl
      li
        a(href='/gizmodo') gizmo
      li
        a(href='/techcrunch') tc
      li
        a(href='/thenextweb') tnw
      li
        a(href='/wired') wired
      li
        a(href='engadget') engadget